In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive/"

In [2]:
import xarray as xr
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from scipy.stats import chisquare
import seaborn as sns
%matplotlib inline

In [4]:
import os
os.chdir("/content/drive/MyDrive/DATA/TDS")

In [6]:
dataset=pd.read_csv('/content/drive/MyDrive/DATA/TDS/book_tags.csv')

In [7]:
dataset

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
130495           31538647    5775       6
130496           31538647    7924       6
130497           31538647    5025       6
130498           31538647   22714       6
130499           31538647     902       6

[130500 rows x 3 columns]

Q11:

In [8]:
unique_tags_count = len(dataset['tag_id'].unique())

print("Number of unique tags:", unique_tags_count)

Number of unique tags: 7067

Q6:

In [10]:
import pandas as pd

# Load the datasets
book_tags = pd.read_csv('book_tags.csv')
books = pd.read_csv('books.csv')

# Join the datasets on goodreads_book_id
merged_data = pd.merge(book_tags, books, on='goodreads_book_id')

# Calculate the total count of tags for each book
tag_counts = merged_data.groupby('title')['count'].sum()

# Find the book with the maximum tag count
max_tag_count = tag_counts.max()
most_tagged_books = tag_counts[tag_counts == max_tag_count]

# Print the result
print("Book(s) with the most tag counts:")
for book_title in most_tagged_books.index:
    print(book_title)

Book(s) with the most tag counts:
Harry Potter and the Sorcerer's Stone (Harry Potter, #1)

Q8:

In [12]:
import pandas as pd

# Load the dataset
book_tags = pd.read_csv('book_tags.csv')

# Group by tag_id and calculate the count of unique goodreads_book_id for each tag
tag_counts = book_tags.groupby('tag_id')['goodreads_book_id'].nunique()

# Find the tag(s) with the lowest count
min_tag_count = tag_counts.min()
least_used_tags = tag_counts[tag_counts == min_tag_count]

# Find the tag with the least numerical value
least_used_tag_id = least_used_tags.idxmin()

# Print the result
print("Least used tag with the least numerical value (tag_id):", least_used_tag_id)

Least used tag with the least numerical value (tag_id): 0

Q1:

In [13]:
import pandas as pd

# Load the dataset
books = pd.read_csv('books.csv')

# Count the number of books without an original title
books_without_original_title = books['original_title'].isnull().sum()

# Print the result
print("Number of books without an original title:", books_without_original_title)

Number of books without an original title: 33

Q5:

In [14]:
import pandas as pd

# Load the dataset
book_tags = pd.read_csv('book_tags.csv')

# Group by tag_id and calculate the count of occurrences for each tag
tag_counts = book_tags.groupby('tag_id')['goodreads_book_id'].count()

# Find the tag(s) with the highest count
max_tag_count = tag_counts.max()
most_frequent_tags = tag_counts[tag_counts == max_tag_count]

# Find the tag with the least numerical value
most_frequent_tag_id = most_frequent_tags.idxmin()

# Print the result
print("Most frequently used tag with the least numerical value (tag_id):", most_frequent_tag_id)

Most frequently used tag with the least numerical value (tag_id): 5751

  Q2:

In [15]:
import pandas as pd

# Load the dataset
books = pd.read_csv('books.csv')

# Count the number of unique books based on the 'book_id'
unique_books_count = books['book_id'].nunique()

# Print the result
print("Number of unique books based on 'book_id':", unique_books_count)

Number of unique books based on 'book_id': 1305

Q3:

In [16]:
import pandas as pd

# Load the dataset
ratings = pd.read_csv('ratings.csv')

# Count the number of unique users based on the 'user_id'
unique_users_count = ratings['user_id'].nunique()

# Print the result
print("Number of unique users based on 'user_id':", unique_users_count)

Number of unique users based on 'user_id': 52023

Q10:

In [18]:
import pandas as pd

# Load the dataset
book_tags = pd.read_csv('book_tags.csv')

# Group by goodreads_book_id and calculate the sum of counts for each book
tag_counts = book_tags.groupby('goodreads_book_id')['count'].sum()

# Find the book with the minimum tag count
min_tag_count = tag_counts.min()
min_count_book = tag_counts[tag_counts == min_tag_count]

# Print the result
print("Book(s) (goodreads_book_id) with the least number of tag counts:")
for book_id in min_count_book.index:
    print("Goodreads Book ID:", book_id)

Book(s) (goodreads_book_id) with the least number of tag counts:
Goodreads Book ID: 83346

  Q12:

In [19]:
import pandas as pd

# Load the dataset
books = pd.read_csv('books.csv')

# Calculate the mean value of ratings based on the 'average_rating' column
mean_rating = books['average_rating'].mean()

# Print the result
print("Mean value of rating of all books based on 'average_rating':", mean_rating)

Mean value of rating of all books based on 'average_rating': 3.9446896551724135

In [ ]:
Q14:

In [24]:
import pandas as pd
from textblob import TextBlob

# Load the dataset
books = pd.read_csv('books.csv')

# Drop rows with null values in the 'original_title' column
books = books.dropna(subset=['original_title'])

# Function to get sentiment polarity using TextBlob
def get_sentiment_polarity(text):
    blob = TextBlob(text)
    return blob.sentiment.polarity

# Apply the function to the 'original_title' column
books['sentiment_polarity'] = books['original_title'].apply(get_sentiment_polarity)

# Count the number of positive titles with sentiment polarity >= 0
positive_titles_count = (books['sentiment_polarity'] >= 0).sum()

# Print the result
print("Number of positive titles with sentiment polarity >= 0 (after dropping null values):", positive_titles_count)

Number of positive titles with sentiment polarity >= 0 (after dropping null values): 1150