In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from imblearn.over_sampling import SMOTE, BorderlineSMOTE, ADASYN
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import export_graphviz
#from sklearn.externals.six import StringIO
import pydotplus
from sklearn.metrics import classification_report
from google.colab import files
import os

In [ ]:
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('/content/drive')
#!ls "/content/drive/My Drive/"

Mounted at /content/drive

In [12]:
os.chdir("/content/drive/MyDrive/DATA/TDS")
!ls

'TDS_Week_5_Dataset_1 - Sheet1.csv'  'TDS_Week_5_Dataset_2 - Sheet1.csv'
 TDS_Week_5_Dataset_1.xlsx

In [8]:
df=pd.read_csv("TDS_Week_5_Dataset_1 - Sheet1.csv")

In [9]:
df.shape

(10000, 9)

In [ ]:
df.head()

In [10]:
q_hi = df['Rotational speed [rpm]'].quantile(0.75)
q_low = df['Rotational speed [rpm]'].quantile(0.25)
IQR = q_hi - q_low
lower_range = q_low - (1.5 * IQR)
upper_range = q_hi + (1.5 * IQR)
df= df[(df['Rotational speed [rpm]']>lower_range) & (df['Rotational speed [rpm]']<upper_range)]

In [11]:
df.shape

(9582, 9)

In [37]:
dfc=pd.read_csv("TDS_Week_5_Dataset_2 - Sheet1.csv")

In [14]:
from sklearn.cluster import KMeans

In [15]:
dfc.head()

,record number,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
0,0,0.001319,0.001970,0.826221,0.021519,0.000000,0.476845,0.038117,0.000701,0.0,0.268651
1,1,0.000769,0.000579,0.441647,0.003081,0.000000,0.232072,0.000000,0.025832,0.0,0.190937
2,2,0.000132,0.000316,0.655003,0.000778,0.065568,0.000000,0.000000,0.001083,0.0,0.122265
3,3,0.000824,0.007208,0.000533,0.000252,0.408417,0.416031,0.000000,0.000918,0.0,0.100503
4,4,0.000596,0.000358,0.805526,0.003378,0.116626,0.474160,0.067420,0.029651,0.0,0.050376

In [27]:
features =dfc.columns[1:]
features

Index(['Price', 'Market Cap', 'Free Float Market Cap %', '6m ADV', 'RoE %',
       'RoCE %', 'EBIT Margin %', 'EPS', 'PAT %', 'Stock Return %'],
      dtype='object')

In [38]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
dfc = dfc.drop('record number', axis=1)
seed = 1729
np.random.seed(seed)
n_clusters = 7
kmeans = KMeans(n_clusters=n_clusters, random_state=seed)
kmeans.fit(dfc)
cluster_assignments = kmeans.labels_
dfc['cluster'] = cluster_assignments
record_index_1 = 247
record_index_2 = 68
lis=[(546,208),(211,159),(247,294),(247,68)]
for i in lis:
  cluster_1 = dfc.loc[dfc.index[i[0]], 'cluster']
  cluster_2 = dfc.loc[dfc.index[i[1]], 'cluster']
  print("Record 1:",i[0],"   Record 2:",i[1])
  if cluster_1 == cluster_2:
      print("The pair of records belong to the same cluster.")
  else:
      print("The pair of records belong to different clusters.")

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Record 1: 546    Record 2: 208
The pair of records belong to the same cluster.
Record 1: 211    Record 2: 159
The pair of records belong to different clusters.
Record 1: 247    Record 2: 294
The pair of records belong to different clusters.
Record 1: 247    Record 2: 68
The pair of records belong to different clusters.

In [22]:
fdf=dfc[features]

In [ ]:
clus = kmeans.fit_predict()

In [ ]:
dfc['cluster'] = clus
dfc['cluster'].value_counts()

In [ ]:
clusterDesc = pd.DataFrame(dfc.iloc[:,1:].groupby('cluster').mean().round(3))
clusterDesc.insert(0,'size',dfc['cluster'].value_counts())